<div class="bookings-container">
  <h1>All bookings</h1>
  <div class="bookings-list">
      <% @bookings.each do |booking| %>
      <div class="booking-item-container">
        <div class="booking-item">
          <p><%= booking.user.email %></p>
          <p><%= booking.date %></p>
          <p><%= booking.sizzler.title %></p>
        </div>
        <%= link_to "Delete", sizzler_booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
</div>
