@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.bookings-container {
  margin: 16px auto;
  width: 60%;

  h1 {
    color: #122A4D;
    font-size: 24px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

}

.bookings-list {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  margin: 24px 0;
}
.booking-item {
  display: flex;
  flex-direction: column;
}
.booking-item-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #122A4D;
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
}
