@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
  z-index: 100;
  background-color: #F4F4F4 ;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  img {
    width: 125px;
    margin: 16px;
  }
  .nav-links{
    margin: 16px;
    a {

      background-color: #F4F4F4;
      color: #122a4d;
      border-radius: 20px;
      padding: 8px 24px;
      text-decoration: none;
      margin: 16px;
      font-family: "Montserrat", "sans-serif";
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      transition: all 0.3s ease;
    }
    a:hover {
      background-color: #122a4d;
      border: none;
      color: white;
    }

  }

}

.card-sizzle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  background-color: white;
  margin: 16px;
  border-radius: 10px;
}

.sizzle-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.icon-flame {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #FBB316;
}
.title {
  display: flex;
  align-items: center;
  margin: 8px;


  h1 {
    color: #122A4D;
    font-size: 24px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
}

#sizzlerCarousel {
  max-width: 800px;
  height: 400px;
  margin: auto;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 8px;
  .carousel-item .img {
    border-radius: 8px;
    height: 400px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
  .carousel-control-next {
    right: 20px;
  }
  .carousel-control-prev {
    left: 20px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: white; /* Set the icon color */
  }
  .carousel-indicators button {
    width: 20px; /* Adjust the width */
    height: 20px; /* Adjust the height */
    background-color: #fff; /* Set the background color */
    border-radius: 50%; /* Make the indicators circular */
  }
  .carousel-indicators .active {
    background-color: #000; /* Set the active indicator color */
  }
  .flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .keep {
    text-align: center;
  }
}
.card-photo{
  width:100%;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;

}
.card-info {
  padding:24px;
}

// banner styling
.banner {
  position: sticky;
  top: 60px;
  height: 200px;
  margin-bottom: 32px;
  background-image: url("egor-gordeev-9RGiGtY28xg-unsplash.jpg");
  background-size: cover;
  background-position: 0px -445px;
  background-repeat: no-repeat;

  h2 {
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 8px 0px;
  }

  .inner-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }
  .banner-items{
    width: 50%;
    .search-type {
      margin-left: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #00000041;
      .svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
