@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

$darkblue: #122A4d;
$lightblue: #00AEE0;
$mustard: #FBB316;
$maroon: #EE5126;

nav {
  z-index: 1001;
  background-color: #F4F4F4 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  img {
    width: 125px;
    margin: 16px;
  }
  .nav-links{
    margin: 16px;
    a {

      background-color: #F4F4F4;
      color: #122a4d;
      border-radius: 20px;
      padding: 8px 24px;
      text-decoration: none;
      margin: 16px;
      font-family: "Montserrat", "sans-serif";
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      transition: all 0.3s ease;
    }
    a:hover {
      background-color: #122a4d;
      border: none;
      color: white;
    }

  }

}

.info-item {
  margin: 8px 0px;

}
.price {
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  color: $darkblue;
  margin-bottom: 16px;
}

.btn-card {
  background-color: $maroon;
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  transition: all 0.5s ease;

  &:hover {
    background-color: #bb3813;
  }
}
.card-sizzle {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  width: 20%;
  background-color: white;
  margin: 16px;
  border-radius: 10px;
  transition: all 0.5s ease;

  &:hover {
    background-color: #ffffff;
    width: 27%;
  }
}

.sizzle-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.icon-flame {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #FBB316;
}
.title {
  display: flex;
  align-items: center;


  h1 {
    color: #122A4D;
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
}

#sizzlerCarousel {
  max-width: 800px;
  height: 400px;
  margin: auto;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 8px;
  .carousel-item .img {
    border-radius: 8px;
    height: 400px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
  .carousel-control-next {
    right: 20px;
  }
  .carousel-control-prev {
    left: 20px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: white; /* Set the icon color */
  }
  .carousel-indicators button {
    width: 20px; /* Adjust the width */
    height: 20px; /* Adjust the height */
    background-color: #fff; /* Set the background color */
    border-radius: 50%; /* Make the indicators circular */
  }
  .carousel-indicators .active {
    background-color: #000; /* Set the active indicator color */
  }
  .flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .keep {
    text-align: center;
  }
}
.card-img {
  width: 100%;
  padding: 10px;
  max-height: 170px;
  overflow: hidden;


}
.card-photo{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit:cover;
}
.card-info {
  position: relative;
  z-index: 1;
  padding: 0px 24px 24px 24px;
}

// banner styling
.banner {
  z-index: 100;
  position: sticky;
  top: 60px;
  height: 200px;
  margin-bottom: 32px;
  background-image: url("egor-gordeev-9RGiGtY28xg-unsplash.jpg");
  background-size: cover;
  background-position: 0px -445px;
  background-repeat: no-repeat;
  h1 {
    color: white;
    font-family: "Montserrat", cursive;
    font-weight: 900;
    font-style: normal;

  }
  h2 {
    color: rgba(255, 255, 255, 0.558);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 8px 0px;
  }

  .inner-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }
  .banner-items{
    width: 50%;
  }

}
// cooking icon
.icon-container {
  position: absolute;
  top:-44px;
  right:-8px;
}
.cooking-icon {
  width: 50px;
  background-color: $mustard;
  border-radius: 100px;
  padding: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cooking-style {
  position: relative;
}
.cooking-tag {
  color: $darkblue;
  font-family: "Montserrat", "san-serif";
  font-weight: 600;
  position: absolute;
  right:52px;
  top: 0px;
}
.footer-icon {
  margin: 0 8px;
  width: 40px;
}
footer {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#bfd2ee;
  height: 100px;
  background-color: $darkblue;
}
